@use 'sass:math';

.blog {
	padding: 25px 0px;

	@media (min-width: 991.98px) {
		padding: 40px 0px;
	}

	@media (min-width: 1875px) {
		padding: 50px 0px 40px;
	}

	&__container {
		max-width: 1115px !important;
	}
}

.body {
	position: relative;
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: 1fr;
	z-index: 1;
	padding-top: 120px;
	padding-bottom: 40px;
}

.content {
	align-self: center;
}

.title {
	text-align: center;
	color: black;
	&:not(:last-child) {
		margin-bottom: 20px;
	}

	@media (min-width: 767.98px) {
		&:not(:last-child) {
			margin-bottom: 35px;
		}
	}
}

.wrapper_tab {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	gap: 30px;
	@media (max-width: 900px) {
		gap: 25px;
	}
	&__tab {
		font-weight: 500;
		font-size: 24px;
		line-height: 91%;
		text-align: center;
		color: #696969;
		cursor: pointer;
		@media (max-width: 1450px) {
			font-size: 22px;
		}
		@media (max-width: 900px) {
			font-size: 18px;
		}
		@media (max-width: 600px) {
			display: none;
		}
	}
	&__active {
		font-weight: bold;
		font-size: 24px;
		line-height: 91%;
		text-align: center;
		color: #000000;
		@media (max-width: 1450px) {
			font-size: 22px;
		}
		@media (max-width: 900px) {
			font-size: 18px;
		}
		@media (max-width: 600px) {
			display: none;
		}
	}
}
.wrapper_tours {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	gap: 23px;
	margin-top: 66px;
}

.wrapper_btn {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 40px;
	> button {
		padding: 1rem;
		background-color: #000;
		color: white;
		background: #000000;
		border-radius: 40px;
		width: 200px;
		cursor: pointer;
		@media (max-width: 600px) {
			width: 170px;
			padding: 0.7rem;
		}
	}
}
